<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>usersignupresponse</servlet-name>
        <servlet-class>usersignupresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userloginresponse</servlet-name>
        <servlet-class>userloginresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userlogout</servlet-name>
        <servlet-class>userlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userchangepassword</servlet-name>
        <servlet-class>userchangepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchresponse</servlet-name>
        <servlet-class>searchresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>friendrequestresponse</servlet-name>
        <servlet-class>friendrequestresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>rejectrequestresponse</servlet-name>
        <servlet-class>rejectrequestresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>acceptrequestresponse</servlet-name>
        <servlet-class>acceptrequestresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cancelrequestresponse</servlet-name>
        <servlet-class>cancelrequestresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>unfriendresponse</servlet-name>
        <servlet-class>unfriendresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compile_code_step1_response</servlet-name>
        <servlet-class>compile_code_step1_response</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>compile_code_step_2</servlet-name>
        <servlet-class>compile_code_step_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>runjavaresponse</servlet-name>
        <servlet-class>runjavaresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>c_compile_code_step_2</servlet-name>
        <servlet-class>c_compile_code_step_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cpp_compile_code_step_2</servlet-name>
        <servlet-class>cpp_compile_code_step_2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>runcppresponse</servlet-name>
        <servlet-class>runcppresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>runpythonresponse</servlet-name>
        <servlet-class>runpythonresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savecoderesponse</servlet-name>
        <servlet-class>savecoderesponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fetchfriendsresponse</servlet-name>
        <servlet-class>fetchfriendsresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sharecoderesponse</servlet-name>
        <servlet-class>sharecoderesponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>likeresponse</servlet-name>
        <servlet-class>likeresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcommentresponse</servlet-name>
        <servlet-class>addcommentresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getcomments</servlet-name>
        <servlet-class>getcomments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>numberofsharedcodesresponse2</servlet-name>
        <servlet-class>numberofsharedcodesresponse2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>displaysharedcoderesponse</servlet-name>
        <servlet-class>displaysharedcoderesponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpasswordresponse</servlet-name>
        <servlet-class>forgotpasswordresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpasswordstep2</servlet-name>
        <servlet-class>forgotpasswordstep2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminloginresponse</servlet-name>
        <servlet-class>adminloginresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activeusersresponse</servlet-name>
        <servlet-class>activeusersresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blockuserresponse</servlet-name>
        <servlet-class>blockuserresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>blockedusersresponse</servlet-name>
        <servlet-class>blockedusersresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activateuserresponse</servlet-name>
        <servlet-class>activateuserresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminlogout</servlet-name>
        <servlet-class>adminlogout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminchangepasswordresponse</servlet-name>
        <servlet-class>adminchangepasswordresponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>numberoflikesresponse</servlet-name>
        <servlet-class>numberoflikesresponse</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>usersignupresponse</servlet-name>
        <url-pattern>/usersignupresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userloginresponse</servlet-name>
        <url-pattern>/userloginresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userlogout</servlet-name>
        <url-pattern>/userlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userchangepassword</servlet-name>
        <url-pattern>/userchangepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchresponse</servlet-name>
        <url-pattern>/searchresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>friendrequestresponse</servlet-name>
        <url-pattern>/friendrequestresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rejectrequestresponse</servlet-name>
        <url-pattern>/rejectrequestresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>acceptrequestresponse</servlet-name>
        <url-pattern>/acceptrequestresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cancelrequestresponse</servlet-name>
        <url-pattern>/cancelrequestresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>unfriendresponse</servlet-name>
        <url-pattern>/unfriendresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compile_code_step1_response</servlet-name>
        <url-pattern>/compile_code_step1_response</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>compile_code_step_2</servlet-name>
        <url-pattern>/compile_code_step_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>runjavaresponse</servlet-name>
        <url-pattern>/runjavaresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>c_compile_code_step_2</servlet-name>
        <url-pattern>/c_compile_code_step_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cpp_compile_code_step_2</servlet-name>
        <url-pattern>/cpp_compile_code_step_2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>runcppresponse</servlet-name>
        <url-pattern>/runcppresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>runpythonresponse</servlet-name>
        <url-pattern>/runpythonresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savecoderesponse</servlet-name>
        <url-pattern>/savecoderesponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fetchfriendsresponse</servlet-name>
        <url-pattern>/fetchfriendsresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sharecoderesponse</servlet-name>
        <url-pattern>/sharecoderesponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>likeresponse</servlet-name>
        <url-pattern>/likeresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcommentresponse</servlet-name>
        <url-pattern>/addcommentresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getcomments</servlet-name>
        <url-pattern>/getcomments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>numberofsharedcodesresponse2</servlet-name>
        <url-pattern>/numberofsharedcodesresponse2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>displaysharedcoderesponse</servlet-name>
        <url-pattern>/displaysharedcoderesponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpasswordresponse</servlet-name>
        <url-pattern>/forgotpasswordresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpasswordstep2</servlet-name>
        <url-pattern>/forgotpasswordstep2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminloginresponse</servlet-name>
        <url-pattern>/adminloginresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activeusersresponse</servlet-name>
        <url-pattern>/activeusersresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blockuserresponse</servlet-name>
        <url-pattern>/blockuserresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>blockedusersresponse</servlet-name>
        <url-pattern>/blockedusersresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activateuserresponse</servlet-name>
        <url-pattern>/activateuserresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminlogout</servlet-name>
        <url-pattern>/adminlogout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminchangepasswordresponse</servlet-name>
        <url-pattern>/adminchangepasswordresponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>numberoflikesresponse</servlet-name>
        <url-pattern>/numberoflikesresponse</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
